<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<title>unswtalk</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<link href="{{url_for('static', filename='sign_in.css')}}" rel="stylesheet">

<div class="container">
  <form method="post" class="form-signin" action="{{url_for('home')}}recovery_done">
    <h2 class="form-signin-heading">Enter your zid</h2>
    <input class="form-control" placeholder="zID" name="zid">
    <button class="btn btn-lg btn-success btn-block" type="submit">send email</button>
  </form>
</div> <!-- /container -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
