{% extends "base.html" %}

{% block body_contents %}
<link href="{{url_for('static', filename='line_break.css')}}" rel="stylesheet">
<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title">{{posts[reply_zid][reply_key]['time']}}</h3>
        </div>
        <div class="panel-body">
          <a href = "{{url_for('home')}}{{posts[reply_zid][reply_key]['from']}}"><img src="/{{students_dir}}/{{posts[reply_zid][reply_key]['from']}}/img.jpg" width="25" height="25" alt=""/>{{database[posts[reply_zid][reply_key]['from']]["full_name"]}}: </a>
          <div id="just-line-break">{{posts[reply_zid][reply_key]['message']|safe}}</div>
          <div class="row">
            <div class="col-md-6">
            {% if posts[reply_zid][reply_key]['longitude'] and posts[reply_zid][reply_key]['latitude'] %}
            <font color="#3366FF" size="1">{{posts[reply_zid][reply_key]['longitude']}}°N, {{posts[reply_zid][reply_key]['latitude']}}°W</font>
            {%endif%}
            <br/><br/><br/><br/>
            <a href="{{url_for('home')}}replys/{{backward}}"><button class="btn btn-sm btn-success">Backward</button></a>
            </div>
            <div class="col-md-6">
              <form role="form" method="POST" action="{{url_for('home')}}replys/{{reply_zid}}_{{posts[reply_zid][reply_key]['raw']}}">
              	<div class="form-group">
              		<textarea class="form-control" rows="3" name="reply_text"></textarea>
              	</div>
                <div clas="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-2">
                      <button type="submit" class="btn btn-sm btn-primary">Reply</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-5">

      {% for student,key in sorted_key%}
        {% if  student == reply_zid and (key|length) == (reply_key|length) + 1 and key[:-1] == reply_key %}
          {% set from = posts[reply_zid][key]['from'] %}
          <div class="panel panel-info">
            <div class="panel-heading">
            <h3 class="panel-title">{{posts[student][key]['time']}}</h3>
            </div>
            <div class="panel-body">
              <a href = "{{url_for('home')}}{{from}}"><img src="/{{students_dir}}/{{from}}/img.jpg" width="25" height="25" alt=""/>{{database[from]["full_name"]}}:</a>
              <div id="just-line-break">{{posts[student][key]['message']|safe}}</div>
              <div class="row">
                <div class="col-md-9">
                {% if posts[student][key]['longitude'] and posts[student][key]['latitude'] %}
                <font color="#CC9966" size="1">{{posts[student][key]['longitude']}}°N, {{posts[student][key]['latitude']}}°W</font>
                {%endif%}
                </div>
                <div class="col-md-3">
                  <a href = "{{url_for('home')}}replys/{{student + "_" + posts[student][key]['raw']}}"><button type="button" class="btn btn-sm btn-info">View/Reply</button></a>
                </div>
            </div>
          </div>
        </div>
        {%endif%}
      {%endfor%}
    </div>

  </div>
{% endblock %}
