<!DOCTYPE html>
<html lang="en">
<head>
<title>unswtalk</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="{{url_for('static', filename='middle.css')}}" rel="stylesheet">
</head>
<body>
<main role="main" class="container">
  <div class="middle">
    {%if flag%}
    <h1>Please check your email</h1>
    {%else%}
    <h1>Registration successful!</h1>
    <p class="lead">Please <a href = "{{url_for("login")}}" > Login and Enjoy :)</a>
      <br> Created for COMP9041 Assignment 2 at UNSW by Xinyuan Qian.</p>
      {%endif%}
  </div>
</main><!-- /.container -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
