{% extends "base.html" %}

{% block body_contents %}
<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="list-group">
            <a href="#" class="list-group-item active">
              {%if result%}
                Results
              {%else%}
                No result.
              {%endif%}
            </a>
      </div>

      <!-- posts -->
      {% for student,key in sorted_key%}
        {% if  student == user and key in result%}
          {%set zid = user%}
          <div class="panel panel-info">
            <div class="panel-heading">
            <h3 class="panel-title">{{posts[zid][key]['time']}}</h3>
            </div>
            <div class="panel-body">
              <div id="just-line-break">{{posts[zid][key]['message']|safe}}</div>
              <div class="row">
                <div class="col-md-9">
                {% if posts[zid][key]['longitude'] and posts[zid][key]['latitude'] %}
                <font color="#3366FF" size="1">{{posts[zid][key]['longitude']}}°N, {{posts[zid][key]['latitude']}}°W</font>
                {%endif%}
                </div>
                <div class="col-md-3">
                  <a href = "{{url_for('home')}}replys/{{zid + "_" + posts[zid][key]['raw']}}"><button type="button" class="btn btn-sm btn-info">View/Reply</button></a>
                </div>
              </div>
            </div>
          </div>
        {%endif%}
      {%endfor%}
    </div>
  </div>
{% endblock %}
