{% extends "base.html" %}

{% block body_contents %}
<div class="page-header">
    <h2>Edit your profile </h2>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="container">
      <form class="form-horizontal" method="POST" action="{{url_for('home')}}profile">
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Full name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="email" value="{{database[user]['full_name']}}" name="full_name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Birthday:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="pwd" value="{{database[user]['birthday']}}" name="birthday">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Suburb:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="pwd" value="{{database[user]['home_suburb']}}" name="home_suburb">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Program:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="pwd" value="{{database[user]['program']}}" name="program">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Profile text:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="pwd" value="{{database[user]['text']}}" name="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Profile photo:</label>
          <div class="col-sm-6">
            <input type=file name=browse >
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-7 col-sm-10">
            <button type="submit" class="btn btn-primary  ">Edit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>




{% endblock %}
