<!DOCTYPE html>
<html lang="en">
<head>
<title>unswtalk</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="{{url_for('static', filename='middle.css')}}" rel="stylesheet">
</head>
<body>
<main role="main" class="container">
  <div class="middle">
    <h1>Your new password is sent to your registration email.</h1>
    <p class="lead"><a href = "{{url_for("login")}}" >Click to login</a>
  </div>
</main><!-- /.container -->
</body>
</html>
